.container {
    position: relative;
    padding: 30px 30px 10px 30px;
    width: 95%;
    height: 400px;
  }
  
  .slider-button-left,
  .slider-button-right {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(0, 0, 0, 0);
    font-size: 30px;
    padding: 1px;
    cursor: pointer;
    height: 300px;
    margin-top: -40px;
  }
  .trend{
    height: 420px;
    margin-top: 30px;
  }
  .slider-button-left {
    left: 5px;
  }
  
  .slider-button-right {
    right: 5px;
    margin-left: 10px;
  }
  
  .movie-element {
    padding: 10px;
    box-sizing: border-box;
   
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    object-fit: fill;
  }
  .moviehid{
    display: block;
    width: inherit;
    height: 350px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    /* background: linear-gradient(45deg, rgb(26, 45, 59) 25%, rgba(21, 56, 76, 0.5) 45%, rgb(26, 45, 59) 60%); */
  }
  
  .movies:hover {
    transform: scale(1.1);
  }
  
  .movies {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    transition: transform 0.5s, box-shadow 0.3s;
  }
  
  .description {
    /* text-align: center; */
    padding-top: 4px;
    background: linear-gradient(to top left, #ffffff, #c7c7c7);
  opacity: 0.9;
  position: relative;
  bottom: 90px;
  height: 86px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  }
  
  .title {
    font-weight: bold;
    display: flex;
    font-size: 1.1em;
    margin-left: 5px;
  }
  
  .year-data {
    color: gray;
    font-size: 0.9em;
    
    margin-left: 5px;
  }
  .arrows{
    height: 300px;
    width: 20px;
    margin: 10px;
  }
  .favorite{
    position: relative;
    display: flex;
    z-index: 1;
    align-content: end;
    align-self: end;
    bottom: 350px;
    font-size: 40px;
    justify-content: end;
  }
  .favorite-main{
    position: relative;
    display: flex;
    align-content: end;
    font-size: 40px;
  }
  .fav-fone{
    background: linear-gradient(to top left, #ffffff, #c7c7c7);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.9;
    display: flex;
  }
  .fav-fone-main{
    background: linear-gradient(to top left, #ffffff, #c7c7c7);
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    padding: 5px;
    align-items: center;
    align-self: center;
}
  
  .favorite-button{
    color:  #6100C2;
    font-size: 20px;
    padding: 10px;
    
  }

  
  .watch-but{
    display: flex;
    margin: 25px 0 15px 0;
    gap: 5px;
  }
  .movies-find{
    width: 50px;
  }
  .find{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }