.watch-now{
    width: 1166px;
    margin: 20px;
    margin-top: 50px;
}
.video{
    margin: 60px 10px;
}
.video-and-information{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.information{
display: flex;
flex-direction: column;
align-content: center;
align-self: center;
width: 50%;
padding-bottom: 60px;
}
.h2{
    font-size: 25px;
    display: flex;
    gap: 10px;
}
.imdb{
    color: rgb(255, 221, 0);
    align-self: center;
    font-size: 35px;
    

}
.decription{
    background-color: rgb(154, 113, 59);
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.h3{
    font-size: 20px;
    padding: 10px;
}
.video-box{
    display: flex;
    justify-content: center;
}
.info-block{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.details{
    align-self: center;
    width: 80px;
}
.person-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75vw;
    margin: 10px;
    padding: 10px;
}
.mov-img{
    padding: 10px;
}
.person-info{
    display: flex;
    gap: 20px;
}
.info-block{
    width: 90%;
}