.menutop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
    height: 100px;
    width: 1092px;
    margin: -5px 10px;
    position: fixed;
    z-index: 1;
}
.left-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-content: center;
    align-self: center;
    margin: 10px;
}
.right-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-content: center;
    align-self: center;
    margin: 10px;
}